body{
    color: green;
}

.cat{
    text-align: center;
    margin-top:150px
}
.catgif{
    width: 200px;
    height: auto;
    margin-top: 1px;
    margin-left: -35px;
    z-index: 0;
position: absolute;

}

.question{
    text-align: center;
    font-family:cursive;
    font-size: larger;
    z-index: 1;
    position:sticky;
    padding-top: 200px;
    padding-left: 150px;
}

.buttons{
    text-align: center;
    padding-left: 140px;

}
.placeholder{
    position:absolute;
    width: 120px;
    height: 40px;
    top: 380px;
    right: 30%;
    background-color: white;
    color: white;
    z-index: 0;
    display: block;
}
.yes{
    width: 120px;
    height: 40px;
    background-color: rgb(189, 255, 90);
    font-family: cursive;
    font-size: medium;
    margin-top: 1px;
}
.no{
    position: sticky;
    width: 120px;
    height: 40px;
    background-color: rgb(252, 147, 147);
    font-size:medium;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: transform 0.5s;
    z-index: 1;
}
.placeholder {
    top: calc(50% - 75px); /* Center the placeholder vertically */
    right: calc(50% - 190px); /* Center the placeholder horizontally */
}
.no:hover {
    transform: translateX(20px) translateY(-20px) scale(0.001) rotate(-180deg);
    background-color: red;
}

.arrows {
    display: none;
    transform: rotate(180deg);
    width: 225px;
    height: auto;
    margin-top: -50px;
    position: absolute;
    left:-180px;
    top:35px
}
.placeholder:hover .arrows{
display: block;
}
.link:link{
    color:black;
    text-decoration: none;
}

.WOO{
    color:red;
    text-align: center;
    margin-top: 50px;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.spin{
    text-align: center;
    width: 400px; /* Set your desired width */
    height: auto; /* Allow height to adjust */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    margin-top: -200px;
}

.love{
    text-align: center;
    margin-top:350px;
    font-size: xx-large;
    font-family: cursive;
    animation: spin 5s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
